body{
  overflow-x: hidden;
}
.about-heading{
  /*width: 100%;*/
  height: 10vh;
}
#event-menu,#about{
  display: none;
}
.about-wrapper:before
{
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url("../Image/bg.jpg");
  z-index: -1;
}
.about-wrapper
{
  position: fixed;
  font-family: 'COVES';
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  overflow-x  : hidden;
  background-color: rgba(0,0,0,1);
  padding: 10px;
  flex-direction: column;
  align-items: center;
}
.about-text{
  width: 60%;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin-top: 50px;
}
.about-head{
  font-size: 2rem;
  line-height: 1.2em;
  border-bottom: 1px solid #04E6CE; 
  margin-bottom: 50px;
}
.about-text p{
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 80px;
}

.about-wrapper .logo{
  width: auto;
  margin:0;
  margin-top: 20px;
}
.box-wrapper{
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  /*align-items: center;*/
  width: 70%;
  flex-wrap: wrap;
}
.box{
  /*margin-right: 25px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.box .img{
  border:1px solid #606060;
  padding: 5px;
  overflow: hidden;
  height: 180px;
  width: 180px;
  background-size: 90% 90%;
  background-position: center;
  background-repeat: no-repeat;
}
.box .img:hover{
  border:1px solid #f6a211;
}
.box p{
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  /*width: %;*/
  margin-top: 20px;
  margin-bottom: 20px;
}
.cross-btn{
  position: absolute;
  top: 40px;
  right: 50px;
  width: 30px;
  height: 30px;
  background-image: url("../Image/cross.svg");
  background-size: cover;
  border: 0.5px solid #04E6CE;
  cursor: pointer; 
}
@media screen and (max-width: 700px){
  .box-wrapper{
    width: 85%;
  }
  .about-text{
    width: 80%;
  }
  .box .img{
    width: 150px;
    height: 150px;
  }
  .cross-btn{
    right: 30px;
    top: 5px;
  }
}

.fadeOutDown{
  animation: fadeOutDown .5s cubic-bezier(0.62, 0.12, 0.29, 0.97);
}


@keyframes fadeOutDown{
  from{
    top: 0;
    /*opacity: 1;*/
  }
  to{
    top: 100%;
    /*opacity: 0;*/
  }
}

.fadeInUp{
  animation: fadeInUp .5s cubic-bezier(0.62, 0.12, 0.29, 0.97);
}


@keyframes fadeInUp{
  from{
    top: 100%;
    /*opacity: 1;*/
  }
  to{
    top: 0;
    /*opacity: 0;*/
  }
}