.name a, .link a{
	color: inherit;
	text-decoration: none;
}

.logo{
	width: 60vw;
}

.link{
	cursor: pointer;
}

#ham img{
	border: none;
}


#landingrollcover{
	overflow: auto;
}

#category-menu, #more-info{
	display:none;
}

.category-wrapper{
	display: flex;
	flex-wrap: wrap;
	width:80vw;
	justify-content: space-evenly;
	align-items: center;
	height: 90vh;
	/*flex-direction: column;*/
}

.category{
	cursor: pointer;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.3em;
	margin: 20px 0 ;
	padding: 10px;
	margin: 30px;
	border: 1px solid transparent;
	transition: all .4s linear;
}

.category img{
	width: 200px;
	transition: all .4s linear;
}

.category:hover{
	color: rgb(4, 255, 229);
	border: 1px solid rgb(4, 255, 229);
}

.category:hover img{
	transform: scale(0.9);
}

@media screen and (max-width: 700px){
	.event #data_wrapper{
		overflow: auto
	}
	.info_cont:before{
		position: fixed;
    	z-index: -999;
	}
}

.s-name{
	padding: 30px;
	position: relative;	
}

/*.s-name:before{
	position:absolute;
	top:0;
	left:0;
	background: rgb(4, 255, 200);
	height: 2px;
	right: 100%;
	
	content: "";
	
}

.s-name:hover:before{
	
	animation: line 5s linear;
}

@keyframes line{
	from{
		right: 100%;
		left:0
	},
	50%{
		right: 100%;
		left:0
	}
	to{
		left: 100%;
		right: 0;	
	}
}

@keyframes coco{
	from{
		background:#fff;
		height: 10px;
	},
	to{
		background: #ff0;
		height: 20px;
	}
}*/

/*
.animate{
	
	opacity: 1;
	animation: __eee__ .7s linear;
}

@keyframes __eee__{
	form{
		opacity: 0 !important;
	},
	to{
		opacity: 1 !important;
		
	}
}*/