@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
@font-face {
  font-family: "COVES";
  src: url("Fonts/coveslight.otf"); }
* {
  padding: 0;
  margin: 0;
  /*transition: all 0.3s linear;*/ }

body {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  padding: 0;
  margin: 0;
  overflow: hidden; 
}
#mainpage{
  display: none;
  transition:all 0.5s linear;
}
#preloader{
  display: block;
  transition:all 0.5s linear;

}

#viewlist{
  display: block;
  position: fixed;
  right: -100vw;
margin: 0;
padding: 0;
  height: 100vh;
  width: 100vw;
  z-index: 11;
   transition: all .6s linear;
  overflow: hidden;
  font-size: 1em;
  background-size: cover;
  background-image: url("../Image/bg.jpg");
}
#viewlist #incontmain{
  opacity: 1;
   display: block;
  position: fixed;
  top:-100vh;
  left: 0vw;
  transform:rotate(0);
margin-top: 0;
padding: 0;
  height: 100vh;
  width: 100vw;
  z-index: 11;
   transition: all .6s linear;

  font-size: 1em;
  background-size: cover;
  background: #3e4c66;
}
#hambur:hover{cursor: pointer;
}
.navbar {
  width: 100%;
  background-color: #111;
  height: 10vh;
  display: flex;
  font-family: "COVES";
  font-weight: bold; }
.logo {
  width: 65vw;
  color: white;
  display: flex;
  font-size: 3rem;
  margin: auto; }
  .logo p {
    margin: auto 0 auto 2vw; }

#color {
  color: #04FFE5; }

.link {
  position: relative;
  display: flex;
  color: white;
  justify-content: center;
  text-transform: uppercase; }
  .link p {
    margin: auto;
    font-size: 1.2em;
    padding: 0 1vw 0 2vw; }

#bps:before {
  position: absolute;
  content: " ";
  height: 4vh;
  margin: auto -1.6vw;
  width: 3px;
  background-color: #95989A; }

#bps {
  color: #95989A;
  height: 100%;
  font-weight: none;
  font-size: 0.6em;
  margin: auto;
  margin-left: 3vw; }

#ham {
  margin: auto; }
  #ham img {
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 1px solid white; }

.main_con {
  display: flex;
  position: relative;
  z-index: 10; 
}
.image {
  position: absolute;
  width: 55vw;
  height: 90vh;
  background-image: url("../Image/mainbg.jpeg");
  background-size: cover;
  background-position: center;
  right: 0px;
  -webkit-clip-path: polygon(18% 0%, 100% 0%, 100% 100%, 8% 100%); }

.info {
  font-family: "COVES";
  height: 90vh;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
  display: flex;
  width: 55vw;
  flex-wrap: wrap;
  flex-direction: column; }

.info_cont:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url("../Image/bg.jpg"); }

.info_cont {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
  height: 80vh; }
  .info_cont .infodata {
    width: 70%;
    display: flex;
    display: none;
    flex-direction: column; }
    .info_cont .infodata .heading {
      padding: 1% 5%;
      display: none;
      margin: 6vh auto 4vh auto;
      font-size: 3em;
      background-color: yellow; }
  .info_cont .data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; }
  .info_cont p {
    text-align: left;
    text-transform: uppercase;
    margin-left: 7vw;
    font-weight: bold; }
  .info_cont #head {
    font-size: 4.8vw; }
  .info_cont #date {
    font-size: 1.6vw;
    color: #95989A; }
  .info_cont #info {
    font-size: 1.7vw;
    color: #04E6CE; }

.social {
  height: 10vh;
  background-color: #04E6CE;
  width: 100%;
  display: flex; }
  .social .linkage {
    margin: auto;
    width: 100%;
    display: flex;
    display: none;
    justify-content: center;
    font-size: 2em;
    margin-left: -10vw;
    font-weight: bold; }
    .social .linkage a {
      text-decoration: none;
      color: black; }
  .social ul {
    display: flex;
    margin: auto;
    flex-direction: row;
    list-style: none; }
    .social ul li {
      text-align: center; }
    .social ul a {
      text-decoration: none;
      padding: 0 3vw; }
      .social ul a img {
        height: 40%;
        width: 40%; }
    .social ul a:first-child {
      margin-left: -10vw; }

@media screen and (max-width: 700px) {
  .link {
    display: none; }

  .image {
    position: relative;
    width: 100vw;
    height: 50vh;
    background-image: url("../Image/mainbg.jpeg");
    background-size: cover;
    background-position: center;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); }

  .info {
    font-family: "COVES";
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: column; }

  .social .linkage {
    margin-left: 0; }
  .social ul a:first-child {
    margin-left: 0; }

  .info_cont .infodata {
    width: 100%; }

  .data {
    width: 100vw;
    justify-content: content;
    margin: auto;
    text-align: center; }
    .data p {
      text-align: center;
      margin-left: 0; }
    .data #head {
      font-size: 4.5rem; }
    .data #date {
      font-size: 2rem; }
    .data #info {
      font-size: 2.2rem; } }
@media screen and (max-width: 450px) {
  .link {
    display: none; }

  .logo {
    font-size: 2.5rem; }
    .logo #bps {
      font-size: 0.35em; }

  .image {
    position: relative;
    width: 100vw;
    height: 50vh;
    background-image: url("../Image/mainbg.jpeg");
    background-size: cover;
    background-position: center;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); }

  .info {
    font-family: "COVES";
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: column; }

  .social .linkage {
    margin-left: 0; }
  .social ul a:first-child {
    margin-left: 0; }

  .info_cont .infodata {
    width: 100%; }

  .data {
    width: 100vw;
    justify-content: content;
    margin: auto;
    text-align: center; }
    .data p {
      text-align: center;
      margin-left: 0; }
    .data #head {
      font-size: 3rem; }
    .data #date {
      font-size: 1.1rem; }
    .data #info {
      font-size: 1.3rem; } }
.event .social {
  text-align: center;
  line-height: 10vh;
  font-size: 2em;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: #FDFBFB;
  background: #F6A211; }
  .event .social h3 {
    width: 100%; }
.event .image {
  background-image: url("../Image/hackathon.jpg"); }
.event #data_wrapper {
  align-items: center;
  flex-direction: row-reverse; }
  .event #data_wrapper .letter {
    width: 20%;
    height: 100%; }
  .event #data_wrapper .container {
    box-sizing: border-box;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 70px 30px; }
    .event #data_wrapper .container header {
      position: relative;
      font-size: 1.7em;
      color: #2B2B2B;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      width: fit-content; }
      .event #data_wrapper .container header ::before {
        position: absolute;
        width: 95%;
        height: 100%;
        content: "";
        background: #F6DF11;
        pointer-events: none;
        z-index: -1;
        transform: rotate(-2deg); }
    .event #data_wrapper .container section {
      font-size: 1.2em; }

@media screen and (max-width: 700px) {
  .event {
    height: 100%;
    overflow: scroll; }
    .event #data_wrapper {
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      width: 100vw; }
      .event #data_wrapper .letter {
        width: 100vw;
        height: 20%;
        margin-top: -10%; }
      .event #data_wrapper .container {
        height: fit-content;
        padding: 0 20px 40px;
        width: 100%;
        font-size: 0.8em; }
        .event #data_wrapper .container header {
          margin-bottom: 50px; } 
        }

/*# sourceMappingURL=main.css.map */

