
@font-face {
  font-family: "COVES";
  src: url("fonts/coveslight.otf"); }


.container{
	margin-top: 5vh;
	margin-bottom:10px;
	margin-left: 10vw;
	padding-top:5vh;
	padding-bottom: 5vh;
	display: flex;
	height:80%;
	box-sizing:border-box;
	width: 80vw;
	flex:0 1 auto;
	flex-direction:column;
	justify-content:space-around;
	overflow: hidden;
	border: 2px solid;
}
.paper,.presentation{
	margin: 10px;
	font-family: "COVES";
	font-weight: bold;
}

#projectinrcontainer,#paperinrcontainer{
	display: flex;
	box-sizing:border-box;
	width: 100%;
	flex-direction:row;
	flex-wrap:wrap;
	padding:5px;
}
.container p{
	font-family:"COVES";
	font-weight: lighter;
}

